//
// Resterland variables overrides
//
// Body
//
// Settings for the `<body>` element.
$body-bg: $gray-900;
$body-color: #aaa;

// Fonts
$font-size-base: 0.9375rem !default;

// Navs
$nav-tabs-border-color: rgba($black, 0.6) !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar
$navbar-padding-y: 0 !default;

$navbar-dark-hover-color: $white !default;

$navbar-light-hover-color: $gray-800 !default;
$navbar-light-active-color: $gray-800 !default;

// Slate 4.3.1
// Bootswatch

// Variables ===================================================================

@mixin btn-shadow($color) {
gradient-y-three-colors(lighten($color, 6 %), $color, 60 %, darken($color, 4 %));
    filter: none;
}

@mixin btn-shadow-inverse($color) {
gradient-y-three-colors(darken($color, 18 %), darken($color, 15 %), 40 %, darken($color, 13 %));
    filter: none;
}

// Navbar ======================================================================

.navbar {
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    .container {
        padding: 0;
    }

    .navbar-toggler {
        border-color: rgba(0, 0, 0, 0.6);
    }

    &-fixed-top {
        border-width: 0 0 1px 0;
    }

    &-fixed-bottom {
        border-width: 1px 0 0 0;
    }

    .nav-link {
        padding: 1rem;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.2);

        &:hover,
        &:focus {
            @include btn-shadow-inverse($gray-800);
            border-left: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    &-brand {
        padding: 0.75rem 1rem calc(54px - 0.75rem - 30px);
        margin-right: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .nav-item.active .nav-link {
        background-color: rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }

    &-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    &.bg-light {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

        .nav-link {
            &:hover,
            &:focus {
                @include btn-shadow-inverse($gray-600);
                border-left: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media (max-width: 576px) {
    .navbar-expand-sm {
        .navbar-brand,
        .nav-link {
            border: none !important;
        }
    }
}

@media (max-width: 768px) {
    .navbar-expand-md {
        .navbar-brand,
        .nav-link {
            border: none !important;
        }
    }
}

@media (max-width: 992px) {
    .navbar-expand-lg {
        .navbar-brand,
        .nav-link {
            border: none !important;
        }
    }
}

