////
//// Variables
////
@import "variables";
//
@import "resterland";

// Import Bootstrap and its default variables
//
@import "../../../Contrib/Bootstrap4/scss/bootstrap";

// Slate 4.3.1
// Bootswatch
//@import "slate";

//
// Components
//
//@import "list";
//@import "backendlayouts";
//@import "section";
@import "footer";
//@import "frame";
//@import "card";
//@import "address";
//@import "buttons";
@import "body";
//@import "text";
//@import "media";
//@import "blockquote";
@import "navbar";
@import "subnav";
@import "breadcrumb";
//@import "lazyload";
//@import "gallery";
//@import "figure";
//@import "carousel";
//@import "form";
//@import "textpic";
//@import "textteaser";
//@import "texticon";
//@import "accordion";
//@import "tab";
//@import "icongroup";
//@import "uploads";
//@import "thumbnail-menu";
//@import "link";
//@import "socialmedia";
//@import "timeline";
@import "cookieconsent";
//@import "well";
//@import "misc";

//
// Plugins
//
@import "photoswipe";
// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    // For always expanded or extra full navbars, ensure content aligns itself
    // properly vertically. Can be easily overridden with flex utilities.
    align-items: center;
}
