<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<h3 class="element-header">
    <span><f:render arguments="{key: 'forgot_header'}" partial="RenderLabelOrMessage"/></span>
</h3>
<p class="fs-4">
    <f:render arguments="{key: 'forgot_reset_message'}" partial="RenderLabelOrMessage"/>
</p>

<p class="fs-4">
    <f:render partial="ValidationErrors"/>
</p>

<f:form action="recovery" method="post">
    <fieldset>
        <legend>
            <f:render arguments="{key: 'reset_password'}" partial="RenderLabelOrMessage"/>
        </legend>
        <div class="form-group">
            <label class="form-label">
                <f:translate key="enter_your_data"/>
            </label>
                <f:form.textfield class="form-control" name="userIdentifier"/>
        </div>
        <div>
            <f:form.submit class="btn btn-primary" value="{f:translate(key: 'reset_password')}"/>
        </div>
    </fieldset>
</f:form>

<p class="fs-4">
    <f:link.action action="login" controller="Login">
        <f:translate key="forgot_header_backToLogin"/>
    </f:link.action>
</p>
</html>
