//
// Dark variables overrides
//
// Body
//
// Settings for the `<body>` element.
$body-bg: $gray-900;
$body-color: $lighter;
$link-color: $tertiary;

// Fonts
$font-size-base: 0.9375rem;

$nav-link-color: $link-color !default;
$nav-link-hover-color: $link-hover-color !default;

$subnav-active-color: $link-color !default;
