//
// Dark variables overrides
//
// Body
//
// Settings for the `<body>` element.
$body-bg: $gray-900;
$body-color: $lighter;
$link-color: $primary;

// Fonts
$font-size-base: 0.9375rem;

$subnav-active-color: $link-color !default;
