//
// Resterland variables overrides
//
// Body
//
// Settings for the `<body>` element.
$body-bg: $gray-900;
$body-color: $body-bg;

$min-contrast-ratio: 4.5 !default;

// Fonts
$font-size-base: 0.9375rem !default;

// Navs
$nav-tabs-border-color: rgba($black, 0.6) !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar
$navbar-padding-y: 0 !default;

$navbar-dark-hover-color: $white !default;

$navbar-light-hover-color: $gray-800 !default;
$navbar-light-active-color: $gray-800 !default;

//
// Breadcrumb
// --------------------------------------------------
$breadcrumb-bg: $gray-900 !default;

