{namespace fl=Causal\FileList\ViewHelpers}
<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:for as="file" each="{files}">

    <figure>
        <a href="{f:uri.image(image: file, maxWidth: 1200, maxHeight: 800)}"
           rel="lightbox[gallery_{data.uid}]"
           title="{file.properties.description}">

            <fl:thumbnail height="256c" image="{file}" width="256c"/>
        </a>
        <figcaption>
            <f:if condition="{file.properties.description}">
                <f:then>{file.properties.description}</f:then>
                <f:else>
                    <f:if condition="{file.properties.title}">
                        <f:then>{file.properties.title}</f:then>
                        <f:else>{file.name}</f:else>
                    </f:if>
                </f:else>
            </f:if>
        </figcaption>
    </figure>

</f:for>
</html>
