<html data-namespace-typo3-fluid="true" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <ul>
            <f:for as="errors" each="{validationResults.flattenedErrors}" key="propertyPath">
                <li>{propertyPath}
                    <ul>
                        <f:for as="error" each="{errors}">
                            <li>{error.code}: {error}</li>
                        </f:for>
                    </ul>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:form.validationResults>
</html>
