<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<p>
    <f:translate key="LLL:EXT:resterland/Resources/Private/Language/locallang.xlf:theme.copyright.runningWith"/>
    <a href="http://www.typo3.org" target="_blank">TYPO3</a>
    <f:translate key="LLL:EXT:resterland/Resources/Private/Language/locallang.xlf:theme.copyright.and"/>
    <a href="https://www.bootstrap-package.com" target="_blank">Bootstrap Package</a></p>
<p>
    <f:translate key="LLL:EXT:resterland/Resources/Private/Language/locallang.xlf:theme.copyright.tweaked"/>
    <a href="https://resterland.ch/webatelier.html" target="_blank">ResterLand WebAtelier</a></p>
</html>
