<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if
	condition="{theme.meta.enable} || {theme.language.enable} || {theme.copyright.enable} || {theme.socialmedia.enable}">
	<section class="section footer-section footer-section-meta">
		<div class="frame frame-background-none frame-space-before-none frame-space-after-none">
			<div class="frame-container">
				<div class="frame-inner">
					<f:if condition="{theme.meta.enable}">
						<div class="footer-meta">
							<f:render arguments="{_all}" partial="Navigation/Meta"/>
						</div>
					</f:if>
					<f:if condition="{theme.language.enable}">
						<div class="footer-language">
							<f:render arguments="{_all}" partial="Navigation/Language"/>
						</div>
					</f:if>
					<f:if condition="{theme.copyright.enable}">
						<div class="footer-copyright">
							<f:render arguments="{_all}" partial="Structure/Copyright"/>
						</div>
					</f:if>
					<f:if condition="{theme.socialmedia.enable}">
						<div class="footer-sociallinks">
							<f:render arguments="{_all}" partial="Structure/SocialLinks"/>
						</div>
					</f:if>
				</div>
			</div>
		</div>
	</section>
</f:if>
</html>
