/* now flex-grow because of the two navbars */
.navbar-collapse {
    flex-grow: 3;
}

.header-language {
    background-color: olivedrab;
}

.header-language-menu {
    background-color: aqua;
}

.header-language-menu .active a {
    font-weight: bold;
}

.header-language-menu .inactive {
    opacity: .5;
}
