<html data-namespace-typo3-fluid="true" xmlns: xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{languagemenu}">
    <f:then>
        <ul class="navbar-nav justify-content-end float-right" id="languagemenu">
            <f:for as="item" each="{languagemenu}">
                <li class="nav-item {f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
                    <f:if condition="{item.available}">
                        <f:then>
                            <a class="nav-link"
                               href="{item.link}" hreflang="{item.hreflang}"
                               title="{item.title}">
                                <span class="nav-link-text">{item.navigationTitle}</span>
                            </a>
                        </f:then>
                        <f:else>
                            <span class="nav-link-text">{item.navigationTitle}</span>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:then>
    <f:else>
        <p>scheisse</p>
    </f:else>
</f:if>
</html>
