<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:then="http://www.w3.org/1999/xhtml" xmlns: xmlns:>

<f:if condition="{menu}">
    <ul class="navbar-nav">
        <f:for as="item" each="{menu}">
            <f:if condition="{item.spacer}">
                <f:then>
    </ul>
    <ul class="navbar-nav">
        </f:then>
        <f:else>
            <li class="nav-item{f:if(condition: item.active, then:' active')}{f:if(condition: item.children, then:' dropdown dropdown-hover')}">
                <a href="{item.link}" id="nav-item-{item.data.uid}" class="nav-link{f:if(condition: item.children, then:' dropdown-toggle')}"{f:if(condition: item.target, then: ' target="{item.target}"')} title="{item.title}"{f:if(condition: item.children, then:' aria-haspopup="true" aria-expanded="false"')}>
                <f:if condition="{theme.navigation.icon.enable} && {item.icon}">
                                    <span class="nav-link-icon">
                                        <f:if condition="{item.icon.0.extension} === svg">
                                            <f:then>
                                                <bk2k:inlineSvg height="{theme.navigation.icon.height}"
                                                                image="{item.icon.0}"
                                                                width="{theme.navigation.icon.width}"/>
                                            </f:then>
                                            <f:else>
                                                <f:image alt="{item.icon.0.alternative}"
                                                         height="{theme.navigation.icon.height}" image="{item.icon.0}"
                                                         title="{item.icon.0.title}"
                                                         width="{theme.navigation.icon.width}"/>
                                            </f:else>
                                        </f:if>
                                    </span>
                </f:if>
                <span class="nav-link-text">{item.title}<f:if condition="{item.current}"> <span class="sr-only">(current)</span></f:if></span>
                </a>
                <f:if condition="{item.children}">
                    <ul aria-labelledby="nav-item-{item.data.uid}" class="dropdown-menu">
                        <f:for as="child" each="{item.children}">
                            <f:if condition="{child.spacer}">
                                <f:then>
                                    <li class="dropdown-divider"></li>
                                </f:then>
                                <f:else>
                                    <li>
                                        <a href="{child.link}" class="dropdown-item{f:if(condition: child.active, then:' active')}"{f:if(condition: child.target, then: ' target="{child.target}"')} title="{child.title}">
                                        <f:if condition="{theme.navigation.dropdown.icon.enable} && {child.icon}">
                                                            <span class="dropdown-icon">
                                                                <f:if condition="{child.icon.0.extension} === svg">
                                                                    <f:then>
                                                                        <bk2k:inlineSvg
                                                                            height="{theme.navigation.dropdown.icon.height}"
                                                                            image="{child.icon.0}"
                                                                            width="{theme.navigation.dropdown.icon.width}"/>
                                                                    </f:then>
                                                                    <f:else>
                                                                        <f:image alt="{child.icon.0.alternative}"
                                                                                 height="{theme.navigation.dropdown.icon.height}"
                                                                                 image="{child.icon.0}"
                                                                                 title="{child.icon.0.title}"
                                                                                 width="{theme.navigation.dropdown.icon.width}"/>
                                                                    </f:else>
                                                                </f:if>
                                                            </span>
                                        </f:if>
                                        <span class="dropdown-text">{child.title}<f:if
                                            condition="{child.current}"> <span
                                            class="sr-only">(current)</span></f:if></span>
                                        </a>
                                    </li>
                                </f:else>
                            </f:if>
                        </f:for>
                    </ul>
                </f:if>
            </li>
            <f:comment>felogin is not loaded, so there is no need for a link in the menu</f:comment>
            <f:if condition="{settings.felogin.inmenu}">
                <f:render arguments="{_all}" partial="Navigation/LoginLogout"/>
            </f:if>
        </f:else>
</f:if>
</f:for>
</ul>
</f:if>


</html>
