<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{cookieWarning}">
    <f:render partial="CookieWarning"/>
</f:if>

<h3 class="element-header">
    <f:render arguments="{key: 'status_header'}" partial="RenderLabelOrMessage"/>
</h3>
<p class="fs-4">
    <f:render arguments="{key: 'status_message'}" partial="RenderLabelOrMessage"/>
</p>

<f:form action="login" actionUri="{actionUri}" fieldNamePrefix="" target="_top">
    <fieldset>
        <legend>
            <f:translate key="logout"/>
        </legend>
        <div class="form-group">
            <label class="form-label">
                <f:translate key="username"/>
            </label>
            <p class="fs-4">{user.username}</p>
        </div>
        <div>
            <f:form.submit class="btn btn-primary" name="submit" value="{f:translate(key: 'logout')}"/>
        </div>

        <div class="felogin-hidden">
            <f:form.hidden name="logintype" value="logout"/>
            <f:form.hidden name="pid" value="{storagePid}"/>
        </div>
    </fieldset>
</f:form>
</html>
